@import '/src/sass/mixin';
@import "primeicons/primeicons.css";







.data-view{
    display: flex;
    flex-direction: row;
    gap: .9375rem;

}

.table {
    margin-top: .9375rem;
    border: 1px solid #cecece;
}

