<div class="client-main">
    <p-panel header="Cliente">
        <div class="client-content">
            <h2>Dados</h2>
            <div class="fields-order">
                <div class="field">
                    <label>Nome Completo:</label>
                    <input pInputText type="text" class="p-inputtext-sm" placeholder="Digite o nome completo"
                        [(ngModel)]="name" />
                </div>
                <div class="field">
                    <label>Telefone:</label>
                    <p-inputMask class="p-inputtext-sm" mask="(99) 99999-9999" placeholder="DDD + Número"
                        [(ngModel)]="phone"></p-inputMask>
                </div>
                <div class="field">
                    <label>CNPJ:</label>
                    <p-inputMask class="p-inputtext-sm" mask="99.999.999/9999-99" placeholder="Digite apenas números"
                        [(ngModel)]="cnpj"></p-inputMask>
                </div>
                <div class="field">
                    <label>Endereço:</label>
                    <input pInputText type="text" class="p-inputtext-sm" placeholder="Digite apenas números"
                        [(ngModel)]="address" />
                </div>
            </div>
        </div>
    </p-panel>
</div>