<div *ngIf="relatorio" id="relatory">
    <h3 style="text-align: center;">Relatório de serviço</h3>
    <p style="text-align: right;">{{this.data.toLocaleDateString('pt-BR')}}</p>
    <h2>Dados do Prestador de Serviços</h2>
    <p>Nome: {{ relatorio.serviceProvider.name }}</p>
    <p>CPF: {{ relatorio.serviceProvider.cpf }}</p>
    <p>CNPJ: {{ relatorio.serviceProvider.cnpj }}</p>
    <p>CEP: {{ relatorio.serviceProvider.cep }}</p>
    <p>Endereço: {{ relatorio.serviceProvider.address }}</p>
    <p>Telefone: {{ relatorio.serviceProvider.phone }}</p>

    <h2>Dados do Cliente</h2>
    <p>Nome: {{ relatorio.client.name }}</p>
    <p>CNPJ: {{ relatorio.client.cnpj }}</p>
    <p>CEP: {{ relatorio.client.cep }}</p>
    <p>Endereço: {{ relatorio.client.address }}</p>
    <p>Telefone: {{ relatorio.client.phone }}</p>

    <h2>Lista de itens</h2>
    <table>
        <thead>
            <tr>
                <th>Tipo</th>
                <th>Tamanho</th>
                <th>Quantidade</th>
                <th>Cor</th>
                <th>Valor Unitário</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let romper of relatorio.BabyRompers">
                <td>{{ romper.tipo || '-' }}</td>
                <td>{{ romper.tamanho || '-' }}</td>
                <td>{{ romper.quantidade || '-' }}</td>
                <td>{{ romper.cor || '-' }}</td>
                <td>{{ romper.unitaryValue ? 'R$ ' + romper.unitaryValue.toFixed(2) : '-' }}</td>
                <td>{{ calcularTotalItem(romper) | currency:'BRL':'symbol':'1.2-2' }}</td>
            </tr>
        </tbody>
    </table>

    <div class="totals">
        <h2>Total Geral</h2>
        <p>Quantidade Total: {{ relatorio.Totals.quantityTotal }}</p>
        <p *ngIf="relatorio.Totals.isButtonUp">Botão Abotoado: <i class="pi pi-check-circle"></i> </p>
        <p *ngIf="!relatorio.Totals.isButtonUp">Botão Abotoado: <i class="pi pi-times-circle"></i></p>
        <p *ngIf="relatorio.Totals.isPacked">Embalado: <i class="pi pi-check-circle"></i></p>
        <p *ngIf="!relatorio.Totals.isPacked">Embalado: <i class="pi pi-times-circle"></i></p>
        <p>Total: {{ relatorio.Totals.totalMonetary | currency:'BRL':'symbol':'1.2-2' }}</p>
        <p>Total Final: {{ relatorio.Totals.totalFinal | currency:'BRL':'symbol':'1.2-2' }}</p>
    </div>
</div>