@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";
@import '/src/sass/mixin';


.service-provider-main{
    @include flex-center;
    margin-top: .9375rem;
}

.service-provider{
    width: 100rem;
    color: black;
    align-items: center;
    border-radius: 0.5rem;

}

@media screen and (max-width: 768px) {
    .service-provider{
        display: flex;
        flex-wrap: wrap;
        gap: 0.5rem;
        flex-direction: column;
        justify-content: center;

        padding: 0.7rem;
    
    
        background-color: #4d4e66;
        margin: 0 auto;
        height: auto;
        width: auto;
        
        color: white;
        align-items: center;
        border-radius: 0.5rem;
    
    }

    .field{
        display: flex;
        flex-wrap: wrap;
        gap: 0.5rem;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    
}

.service-provider-tittle{
    text-align: center;
    color: black;
}

.field{
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    flex-direction: column;
    justify-content: center;
}

.fields-order{
    display: flex;
    flex-direction: row;
    gap: .625rem;
}

.service-provider-data{
    display: flex;
    flex-direction: column;
}




