@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";
@import '/src/sass/mixin';

.BtnConfirm{
    margin-top: 1.1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}


.btn-pdf{
    @include flex-center;
    margin-top: 3.125rem;
}