<div class="item-service-main">
    <p-panel header="Itens do serviço">
        <div class="item-service-content">
            <div class="baby-add">
                <div class="field">

                    <label>Tipo:</label>
                    <p-dropdown [options]="types" [(ngModel)]="typeSelected" optionLabel="type" [showClear]="true"
                        placeholder="Selecione o tipo"></p-dropdown>
                </div>
                <div class="field">
                    <label>Tamanho:</label>
                    <p-dropdown [options]="sizes" [(ngModel)]="sizeSelected" optionLabel="size" [showClear]="true"
                        placeholder="Selecione o tamanho"></p-dropdown>
                </div>
                <div class="field">
                    <label>Quantidade:</label>
                    <p-inputNumber inputId="integeronly" placeholder="Digite a quantidade" [(ngModel)]="quantity">
                    </p-inputNumber>
                </div>
                <div class="field">
                    <label>Cor:</label>
                    <p-dropdown [options]="colors" [(ngModel)]="colorSelected" optionLabel="color" [showClear]="true"
                        placeholder="Selecione a cor"></p-dropdown>
                </div>
                <div class="BtnAdd"><p-button size="small" label="Adicionar" [disabled]="blockAdd()"
                        (click)="addItem()"></p-button> </div>

            </div>
            <app-table-items [product]="babyRomperToSend">

            </app-table-items>
        </div>
    </p-panel>
</div>