<div class="item-service-main">
    <h3 class="item-service-tittle">Itens Serviço</h3>
    <div class="item-service-content">
        <div class="baby-add">
            <div class="field">
                <label>Tipo:</label>
                <input pInputText type="text" class="p-inputtext-sm" [(ngModel)]="tipo" />
            </div>
            <div class="field">
                <label>Tamanho:</label>
                <input pInputText type="text" class="p-inputtext-sm" [(ngModel)]="tamanho" />
            </div>
            <div class="field">
                <label>Quatidade:</label>
                <input pInputText type="text" class="p-inputtext-sm" [(ngModel)]="quantidade" />
            </div>
            <div class="field">
                <label>Cor:</label>
                <input pInputText type="text" class="p-inputtext-sm" [(ngModel)]="cor" />
            </div>
            <div class="BtnAdd"><p-button size="small" label="Adicionar" [rounded]="true" (click)="addTable()"></p-button> </div>
        </div>
        <div class="table">
            <p-table [value]="products" [tableStyle]="{ 'min-width': '50rem' }" [paginator]="true" [rows]="5">
                <ng-template pTemplate="header">
                    <tr>
                        <th>Tipo</th>
                        <th>Tamanho</th>
                        <th>Quantidade</th>
                        <th>Cor</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-product>
                    <tr>
                        <td>{{ product.tipo }}</td>
                        <td>{{ product.tamanho }}</td>
                        <td>{{ product.quantidade }}</td>
                        <td>{{ product.cor }}</td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="paginatorleft">
                    <p-button type="button" icon="pi pi-plus" styleClass="p-button-text"></p-button>
                </ng-template>
                <ng-template pTemplate="paginatorright">
                    <p-button type="button" icon="pi pi-cloud" styleClass="p-button-text"></p-button>
                </ng-template>
            </p-table>
        </div>
        <div class="totals">
            <div class="totalValue">
                <label>Quantidade total:</label>
                <input pInputText type="text" class="p-inputtext-sm" [(ngModel)]="quantityTotal"  [disabled]="true"/>
            </div>

            <div class="totalValue">
                <label>Valor unitário:</label>
                <input pInputText type="text" class="p-inputtext-sm" [(ngModel)]="total"  [disabled]="true"/>
            </div>

            <div class="totalValue">
                <label>Total:</label>
                <input pInputText type="text" class="p-inputtext-sm" [(ngModel)]="total"  [disabled]="true"/>
            </div>
            
        </div>
    </div>
</div>