.baby-add{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    gap: 0.5rem;
}


.item-service-content{
    padding: 0.625rem;
    border-radius: 0.5rem;

    background-color: #666888;
    margin: 0 auto;

    height: auto;
    width: 100rem;
}

.field{
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    flex-direction: column;
    justify-content: center;
}


.field label{
    color: white;
}


.item-service-tittle{
    text-align: center;
    color: white;
}


.BtnAdd{
    margin-top: 1.875rem;
}


.table{
    margin-top: .9375rem;
}

.totals{
    margin-top: 1.875rem;
    display: flex;
    flex-direction: row;
    align-content: flex-end;
    justify-content: flex-end;
    flex-wrap: wrap;
    gap: .625rem;
}

.totalValue{
    color: white;
    font-weight: bold;
    font-size: 1.5625rem;
    padding-top: .1875rem;
}